@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@900&display=swap");

:root {
  font-family: "Roboto Condensed", sans-serif;

  /* Farben */
  --primary: #ff0021;
  --primaryDark: #da001c;
  --secondary: #e4e8ec;
  --textcolor: #2d343e;
  --textwhite: #ffffff;

  /* Fonts */
  --paragraph: 1rem; /* 1 em = 16px */
  --pplus: 1.5rem;
  --subtext: 0.8rem;
  --leadtext: 2rem;
  --title: 2.5rem;

  --fontlead: "Roboto", sans-serif;

  --fontstandart: "Roboto Condensed", sans-serif;

  /* Sections and main Element vars */
  --navheight: 6em;
  --navtagwidth: 24em;
  --logowidth: 12em;
  --mountainwidth: 10em;
  --locwidth: 45rem;
  --contentwidth: 1080px;
  --formwidth: 800px;
  --minwidthtitelimg: 100vw;
}

body {
  width: 100vw;
  margin: 0;
  overflow-x: hidden;
}

img {
  object-fit: contain;
}

/* Generall Elements and text */

.contentwrapper {
  width: var(--contentwidth);
  margin: 0 auto;
}

.logo {
  width: var(--logowidth);
  margin-left: 2em;
}

.titleWhite {
  font-size: var(--title);
  color: var(--textwhite);
  font-family: var(--fontlead);
}

.korr {
  font-size: var(--subtext);
}

.korrBold {
  font-size: var(--subtext);
  font-weight: bold;
}

.titlered {
  font-size: var(--title);
  color: var(--primary);
  font-family: var(--fontlead);
}

.imgfull {
  position: absolute;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sektion {
  width: 100%;
  min-height: 100vh;
  position: relative;
  margin-top: 0;
}

.location {
  background-image: url(./assets/imgs/graphics/locationbackground.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  width: 70%;
  height: 108px;
  display: flex;
  justify-content: left;
  align-items: end;
  margin-bottom: 3rem;
}

.locroot {
  color: var(--textwhite);
  font-family: var(--fontlead);
  font-size: var(--pplus);
  text-transform: uppercase;
  margin: 0;
}

.loctext {
  color: var(--textwhite);
  font-family: var(--fontlead);
  font-size: var(--leadtext);
  text-transform: uppercase;
  margin: 0;
}

.leadp {
  color: var(--textcolor);
  font-family: var(--fontlead);
  font-size: var(--pplus);
}

.leadred {
  color: var(--primary);
  font-family: var(--fontlead);
  font-size: var(--leadtext);
}

.leadwhite {
  color: var(--textwhite);
  font-family: var(--fontlead);
  font-size: var(--leadtext);
}

.basetext {
  color: var(--textcolor);
  font-family: var(--fontstandart);
  font-size: var(--paragraph);
}

.basetextwhite {
  color: var(--textwhite);
  font-family: var(--fontstandart);
  font-size: var(--paragraph);
  font-weight: bold;
}

.textcentered {
  text-align: center;
}

.sectiontextbox {
  width: 68%;
  margin: 0 auto;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

.adtextbox {
  width: 100%;
  margin-bottom: 4rem;
}
/* home */
/* header */

/* Navbar */
.navbar {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: end;
  height: var(--navheight);
  width: 100%;
  background-color: var(--textwhite);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.redrectNav {
  width: 21em;
  height: 100%;
  background-image: url(./assets/imgs/graphics/rectangleNav.svg);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: left;
  align-items: center;
  background-position: right;
}

.redCont {
  height: 100%;
  width: 10em;
  background-color: var(--primaryDark);
  display: flex;
  justify-content: center;
  align-items: end;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  width: var(--navtagwidth);
}

.navanchor {
  font-size: var(--pplus);
  color: var(--textcolor);
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  margin-bottom: 1.2rem;
}

.navanchor:hover {
  cursor: pointer;
  text-transform: uppercase;
}

.navanchorwhite {
  font-size: var(--leadtext);
  color: var(--textwhite);
  margin-bottom: 0.75em;
  font-weight: 700;
  text-decoration: none;
}

.navanchorwhite:hover {
  cursor: pointer;
}
.mountains {
  width: var(--mountainwidth);
}

/*main*/
/* section start*/

.störerred {
  background-image: url(./assets/imgs/graphics/störerRot.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  width: 699px;
  height: 108px;
  position: absolute;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.störertext {
  margin-left: 3em;
}

/* section winter Erleben */

.loccont {
  width: var(--locwidth);
  margin: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: end;
  padding-bottom: 1rem;
}

/* section Restaurants */

.gastroImg {
  width: 100%;
  height: auto;
  transform: rotate(-4deg) scale(1.1) translateY(100px);
}

.restImgCont {
  overflow: hidden;
}

/* section Sportgeschäfte und Kurse */

.skimgbox {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
}

.skimgcont {
  width: 25rem;
  height: 20rem;
  background-color: var(--secondary);
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 3rem
}

/* footer */

footer {
  background-color: var(--primaryDark);
  height: 100vh;
  width: 100%;
  margin-top: 1rem;
  position: relative;
}

.footerkontaktcont {
  max-width: var(--contentwidth);
  margin: 0 auto;
  padding-top: 15rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  margin-bottom: 7rem;
}

.footerktktbox {
  min-width: 10rem;
  margin: 0;
  display: flex;
  flex-flow: column nowrap;
}

.departement {
  font-family: var(--fontlead);
  text-transform: capitalize;
  color: var(--textwhite);
  font-size: var(--paragraph);
}

.footertext {
  font-family: var(--fontstandart);
  color: var(--textwhite);
  font-weight: 700;
  margin-bottom: 1rem;
  font-size: var(--paragraph);
}

.icontextcont {
  display: flex;
  flex-flow: row nowrap;
  height: 1.8rem;
  width: 100%;
  justify-content: start;
  align-items: center;
  margin-bottom: 1rem;
}

.icon {
  height: 100%;
  width: auto;
  margin-right: 1rem;
}

.socialcont {
  display: flex;
  flex-flow: row nowrap;
  width: 50%;
  height: 3rem;
  justify-content: space-around;
}

.socials {
  height: 100%;
  width: auto;
}

.socialbtn:hover {
  cursor: pointer;
}

.footerend {
  width: 100%;
  min-height: 4rem;
  background-color: var(--secondary);
  position: absolute;
  bottom: 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.impressumcont {
  width: var(--contentwidth);
  min-height: 4rem;
  height: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;
}

.impressum {
  font-size: var(--subtext);
  color: var(--textcolor);
  text-decoration: none;
  margin: 0;
}

.impressum:hover {
  cursor: pointer;
}

/* events*/

.listsection {
  width: 100%;
  padding-top: 12rem;
}

.eventcard {
  width: 800px;
  height: 300px;
  margin: 0 auto;
  margin-bottom: 5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  border-radius: 1rem;
  overflow: hidden;
  background-color: var(--secondary);
}

.eventimg {
  width: auto;
  height: 100%;
}

.eventimgcont {
  width: 45%;
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.eventtextcont {
  width: 47%;
  height: 100%;
  margin: 0;
  padding: 0 2rem;
  display: flex;
  flex-flow: column nowrap;
}

/* Unterkünfte */

.unterkunftparagraph {
  width: 100%;
  margin-bottom: 8rem;
}

.unterkunftcard {
  width: 800px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap-reverse;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
}

.unterkunfttext {
  height: 70%;
  width: 45%;
  background-color: var(--primaryDark);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
}

.unterkunftbild {
  height: 100%;
  width: 55%;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.unterkunftbtn {
  width: 80%;
  height: 3rem;
  border: var(--textwhite) 2px solid;
  text-decoration: none;
  border-radius: 3px;
}

.unterkunftbtn:hover {
  cursor: pointer;
}

.unterkunftbtntext {
  font-family: var(--fontlead);
  font-size: var(--paragraph);
  color: var(--textwhite);
  text-transform: capitalize;
  text-decoration: none;
  border: none;
  text-align: center;
}

/* Kontakt */

.greyadressbox {
  width: 10rem;
  padding: 1rem 0;
  background-color: var(--secondary);
  position: absolute;
  right: 0;
  top: var(--navheight);
  display: flex;
  flex-flow: column nowrap;
}

.adressbox {
  width: 10rem;
  margin: 1rem 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
}

.adress {
  font-family: var(--fontstandart);
  font-size: var(--subtext);
  margin: 0.25rem 0;
  text-align: center;
}

.kontaktform {
  width: var(--formwidth);
  height: 40rem;
  background-color: var(--secondary);
  border-radius: 2rem;
  position: relative;
  top: 7.5rem;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: end;
  padding: 0 5rem 1.5rem 5rem;
}

.selectcont {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  margin: 0 auto;
  margin-top: 2rem;
}

.selectcont select {
  margin-top: 1rem;
  height: 2.5rem;
  width: 100%;
}

.inputcont {
  width: 40%;
  display: flex;
  flex-flow: column nowrap;
  font-family: var(--fontstandart);
  font-size: var(--paragraph);
}

.inputcont input {
  height: 1rem;
  padding: 0.8rem;
}

.textcont {
  width: 75%;
  display: flex;
  flex-flow: column nowrap;
}

.textcont textarea {
  width: 100%;
  height: 300px;
  resize: none;
  padding: 1rem;
  border-radius: 1rem;
}

.kontaktform button {
  width: 8rem;
  height: 2.5rem;
  background-color: var(--primary);
  border: none;
  border-radius: 1.5rem;
  color: var(--textwhite);
  font-family: var(--fontlead);
  font-size: var(--paragraph);
}

.kontaktform button:hover {
  background-color: transparent;
  color: var(--primary);
  border: var(--primary) 2px solid;
}

.kontaktform button:active {
  background-color: var(--primaryDark);
  border: none;
  color: var(--textwhite);
}

/*media Querrys*/

@media screen and (max-width: 1300px) {
  :root {
    --formwidth: 700px;
    --mountainwidth: 7rem;
    --contentwidth: 980px;
  }

  .kontaktform {
    border-radius: 0;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    margin: 0;
    padding: 0 2rem 1.5rem 5rem;
  }

  .navbar .adress {
    display: none;
  }
}

@media screen and (max-width: 1028px) {
  :root {
    --contentwidth: 640px;
    --logowidth: 7rem;
    --navtagwidth: 19rem;
    --formwidth: 450px;

    --pplus: 1.2rem;
    --leadtext: 1.5rem;
    --title: 2rem;
  }

  .mountains {
    display: none;
  }

  .redrectNav {
    width: 14rem;
  }

  .redCont {
    width: 8rem;
  }

  .störerred {
    width: 100%;
  }

  .location {
    width: 100%;
  }

  .restImgCont {
    overflow: visible;
  }


  .eventcard {
    width: 70%;
    height: auto;
    padding-bottom: 1rem;
  }

  .eventimgcont {
    width: 100%;
    height: auto;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .eventimg {
    width: 100%;
    height: auto;
  }

  .eventtextcont {
    width: 100%;
    height: auto;
  }


  .unterkunftcard {
    width: auto;
    height: auto;
  }

  .unterkunftbild {
    height: 270px;
    width: 400px;
    margin-left: auto;
  }

  .footerkontaktcont{
    flex-flow: column nowrap;
    padding-top: 5rem;
    height: 75vh;
    margin: 0;
  }

  .footerktktbox {
    width: 280px;
    margin: 0 auto;
  }

  .greyadressbox {
    display: none;
  }

  .kontaktform {
    height: auto;
    padding: 0 3rem 1.5rem 1.5rem;

  }

  .kontaktform button {
    margin-top: 2rem;
    margin-left: auto;
  }

  .kontaktform .inputcont {
    margin-bottom: 1rem;
  }

  .kontaktform .selectcont{
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 720px){
  :root{
    --logowidth: 6rem;
    --navtagwidth: 16rem;
    --navheight: 6.5rem;
    --locwidth: 80%;

    --pplus: 1rem;
    --leadtext: 1.2rem;
    --title: 1.5rem;
    --paragraph: 1rem;
    --subtext: 0.8rem;

    --contentwidth: 375px;
    --formwidth: 85%;
  }
  
  
  .navbar {
    flex-flow: row wrap;
    align-items: start;
  }

  .redrectNav {
    width: 100%;
    height: 3rem;
  }

  .logo{
    margin-left: 1rem;
  }

  nav{
    height: 3rem;
    align-items: end;
    margin-left: 0.5rem;
  }

  .redCont{
    height: 3rem;
    background-color: transparent;
    width: auto;
    margin-right: 1rem;
  }

  .navanchorwhite{
    color: var(--primary);
    margin: 0;
  }

  .navanchor{
    margin: 0;
  }

  .störerred {
    justify-content: end;
    align-items: end;
  }

  .störertext {
    margin-right: 0.8rem;
  }

  .location {
    margin-bottom: 1.5rem;
  }

  .loctext {
    width: 11rem;
  }

  .sectiontextbox {
    width: 80%;
  }

  .adtextbox {
    margin-bottom: 1rem;
  }

  .gastroImg {
    transform: rotate(-4deg) scale(1.1);
  }

  .skimgcont {
    width: 350px;
    margin-bottom: 1.5rem;
  }

  footer {
    background-color: var(--primaryDark);
    height: 70rem;
    padding-top: 1rem;
  }

  .footerkontaktcont {
    height: auto;
  }

  .footerktktbox {
    margin-bottom: 2rem;
  }

  .impressum {
    width: 100%;
    text-align: center;
  }

  .impressumcont {
    height: 12rem;
  }

  .listsection {
    padding-top: 2rem;
  }

  .unterkunftparagraph {
    margin-bottom: 4rem;
  }

  .eventcard {
    margin-bottom: 4rem;
    width: 80%;
  }

  .unterkunftcard {
    width: 350px;
    height: 350px;
    margin-bottom: 4rem;
    align-items: flex-end;
  }

  .unterkunftbild {
    height: 47%;
    width: 78%;
    margin-top: auto;
  }

  .unterkunfttext {
    height: 40%;
    width: 90%;
    flex-flow: row nowrap;
    align-items: end;
    justify-content: space-between;
    padding: 0.5rem;
  }

  .unterkunfttext .leadwhite {
    margin-bottom: auto;
  }

  .kontaktform {
    padding: 1rem;
  }

  .kontaktform .inputcont {
    margin-bottom: 2rem;
    width: 100%;
  }

  .kontaktform .selectcont {
    margin-bottom: 2rem;
  }

  .kontaktform .textcont {
    width: 90%;
    margin-top: 2rem;
  }
}