@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&family=Roboto:wght@900&display=swap');

:root {

  font-family: 'Roboto Condensed', sans-serif;

  /* Farben */
  --primary: #DA001C;
  --primaryDark: #DA001C;
  --secondary: #E4E8EC;
  --textcolor: #2D343E;
  --textwhite: #ffffff;

  /* Fonts */
  --paragraph: 1em; /* 1 em = 16px */
  --subtext: 0.8em;
  --navtext: 2em;
  --title: 2.5em;

  --fontlead: 'Roboto', sans-serif;

  --fontstandart: 'Roboto Condensed', sans-serif;

  /* Sections and main Element vars */
  --navheight: 6em;
  --navtagwidth: 24em;
  --logowidth: 12em;
  --mountainwidth: 10em;
}

body {
  width: 100vw;
  margin: 0;
}

 
/* Generall Elements and text */

.logo {
  width: var(--logowidth);
  margin-left: 2em;
}

.titleWhite {
  font-size: var(--title);
  color: var(--textwhite);
  font-family: var(--fontlead);
}

.korr {
  font-size: var(--subtext);
}

.korrBold {
  font-size: var(--subtext);
  font-weight: bold;
}

/* header */

  /* Navbar */
  .navbar {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: end;
    height: var(--navheight);
    width: 100%;
    background-color: var(--textwhite);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  .redrectNav {
    width: 21em;
    height: 100%;
    background-image: url(./assets/rectangleNav.svg);
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .redCont {
    height: 100%;
    width: 10em;
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    align-items: end;
  }

  nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    width: var(--navtagwidth);
  }

  .navanchor {
    font-size: var(--navtext);
    color: var(--textcolor);
    font-weight: 700;
  }

  .navanchor:hover {
    cursor: pointer;
  }

  .navanchorwhite {
    font-size: var(--navtext);
    color: var(--textwhite);
    margin-bottom: 0.75em;
    font-weight: 700;
  }

  .navanchorwhite:hover {
    cursor: pointer;
  }
  .mountains {
    width: var(--mountainwidth);
  }

  /*main*/
  /* section start*/

  .start {
    width: 100%;
    height: 100vh;
    background-color: var(--secondary);
    position: relative;
  }

  .störer {
    background-image: url(./assets/störerRot.svg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 699px;
    height: 108px;
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .störertext {
    margin-left: 2.5em;
  }